*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #2d1b4b;
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    height: 90vh;
}

.content{
    margin: auto;
    margin-top: 2%;
    width: 90%;
    height: 95%;
    box-sizing: border-box;
    box-shadow: 0 0 7px #6744f15e;
    border-radius: 10px;
    padding: 5px;
}

.menu_superior{
    box-shadow: 0 0 8px #5e399b;
    width: 80%;
    margin: auto;
    padding: 10px 0;
    margin-top: 10px;
    border-radius: 25px;
    background-color: #5f59595b;
    
}

a{
    text-decoration: none;
    padding: 0 10px;
    color: #ff00d491;
}

.form_info{
    width: 80%;
    height: 85%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 12px;
}

.contact{
    margin: auto;
    border-bottom: 5px solid #ff00d477;
    width: 70%;
}

.contact, .menu_superior{
    text-align: center;
}

.blo_sep{
    display: flex;
    width: 100%;
    justify-content: center;
    height: 90%;
}


.subinfo{
    margin: 65px 0 25px 15px;
    
}


.info, .regi_info, input, textarea, button{
    margin: 20px 0 5px 20px;
    padding: 5px;
    border: 1px solid transparent;
    box-shadow: 0 0 5px #6744f15e;
    border-radius: 9px;
    width: 40%;
}

.info{
    padding: 45px;
}

input, textarea{
    background-color: #5f59595b;
    padding: 5px;
    width: 85%;
    margin: 15px;
    color: #ffffff;
}

textarea{
    max-width: 90%;
    min-height: 145px;
}

button{
    padding: 8px;
    margin-top: 5px;
    background-color: #ff00d4;
    color: #ffffff;
    width: 85%;
}

.regi_info{
    padding-top: 3%;
}
